.container {
  position: relative;
  background: #202020;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.button {
  background: transparent;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin-top: 2rem;
  font-size: 2rem;
  border: 1px solid #8f8f8f;
}

.button:disabled {
  color: #555;
}

.button:disabled:hover {
  cursor: not-allowed;
  background: unset;
}

.button:hover {
  background: #252525;
}

.label {
  background: #707070;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 0.5rem;
  font-size: 1.25rem;
}

.label:hover {
  cursor: pointer;
  background: #ffdf6c;
  color: #3f3f3f;
}

.input:checked + label {
  background: #ffdf6c;
  color: #3f3f3f;
}

.input {
  display: none;
}

.moviePanel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ffdf6c;
  color: #3f3f3f;
  padding: 1rem;
  text-align: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieTitle {
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.icon:hover {
  cursor: pointer;
}

.chooseAgain {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

@media (min-width: 900px) {
  .container {
    padding: 1rem;
  }

  .moviePanel {
    padding: 1rem 2rem;
  }

  .movieTitle {
    font-size: 4rem;
  }

  .icon {
    font-size: 4rem;
  }
}
